body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #F6F4F3;
}
  /*  */
  .linha {
    margin-top: 2rem;
    width: 100%;
    height: 2px;
    background-color: #a07c6b;
    font-family: montserrat;
  }
  .cabecalho {
    margin-top: 2rem;
    margin-left:3rem ;
    margin-right: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
  }
  #cabecalho{
    position: fixed;
  }
  .cabecalho h1 {
    margin: 0;
    margin-left: 7%;
    font-size: 5ex;
  }
  
  .subtitulo{
    margin-left: 5%;
    text-decoration: underline;
  }
  .cabecalho .botoes {
    padding: 10rem 3rem;
    cursor: pointer;
    font-size: 3ex;
    color: #000;
  }
  /* MENU (SOBRE)*/
  .menu-container {
    position: relative;
  }
  #menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    margin-top: 2%; /* Posiciona o menu embaixo do botão "Sobre" */
    left: 70%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1; /*coloca o menu acima de outros elementos */
  }
  #menu li {
    padding: 1ex;
    color: #333;
  }
  .hidden {
    display: none;
  }
  .show {
    display: block;
  }
  .botoes:hover, #menu a:hover {
    font-weight: bold;
  }
  
  .botoes.clicked, #menu a.clicked {
    color: red; /* Cor de destaque */
    font-size: 1.2em; /* deixa a letra um pouco maior */
  }
  /*FIM DO MENU*/
  
  #imagem {
    width: 90%;
    margin-top: 5vh;
    height: 50vh; /* 50% da altura da tela */
    object-fit: cover;
    /* align-items: center; */
    margin-left: 5%;
  }
  
  #imagem-bio {
    width:20%;
    height: 100%;
    margin-left: 20rem;
  }
  
  #conteudo {
    width: 100%;
    margin: 20px auto;
  }
  
  #texto {
    float: left;
    width: 50%;
    margin-bottom: 20px;
    margin-left: 5%;
    letter-spacing: 2px; /* Espaço entre letras */
    line-height: 2; /* Espaço entre linhas */
    text-align: justify;
  }
  
  .imagem-quadrada {
    width: calc(11.3% - 0px);
    margin-left: 35px;
    display: flex;
    float: left;
  }
  .container {
    width: 95%;
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  
  .moldura {
    float: left;
    width: 300px;
    height: 300px;
    background-color: #D1C8C1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: calc(20% - 10rem);
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
  }
  .moldura img {
    max-width: 80%;
    max-height: 60%;
  }
  .moldura p {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 80%;
    color: #0a0a0a;
  }
  
  #lembretesEsquerda{
    /* border-radius: 30px; */
    /* margin: 5%; */
    font-size: x-large;
    width: 60%;
    height: 45%;
    margin-bottom: 20px;
    margin-left: 35%;
    letter-spacing: 2px; /* Espaço entre letras */
    line-height: 2; /* Espaço entre linhas */
    /* text-align: center; */
    /* float:none; */
  }
  
  #lembretesDireita{
    /* border-radius: 30px; */
    /* margin: 5%; */
    font-size: x-large;
    width: 60%;
    height: 45%;
    margin-bottom: 20px;
    margin-right: 30%;
    letter-spacing: 2px; /* Espaço entre letras */
    line-height: 2; /* Espaço entre linhas */
    /* text-align: center; */
    /* float:none; */
  }
  
  #slideTexto{
    /* border-radius: 30px; */
    font-size: x-large;
    /* height: 10%; */
    /* top: 30%; */
    /* margin-bottom: 0%; */
    /* margin: 0%; */
    letter-spacing: 2px; /* Espaço entre letras */
    line-height: 2; /* Espaço entre linhas */
    /* align-items: center; */
    text-align: justify;
    position: relative;
  } 
  #slideLembrete{
    /* float: left; */
    width: 200px;
    height: 400px;
    background-color: #D1C8C1;
    /* display: flex; */
    /* margin: 10%; */
    /* margin-top: 5%; */
  
    position:relative;
  }
  .slideshow-lembrete {
    /* position: relative; */
    width: 80%;
    height: 100%;
    margin-left: 5%;
    /* overflow: hidden; */
  }
  
  
  /* #tentativa{
    border-radius: 30px;
    font-size: x-large;
    width: 70%;
    align-items: center;
    letter-spacing: 2px; /* Espaço entre letras *
    line-height: 2; /* Espaço entre linhas *
    text-align: center;
  } */
  
  /* VIAGENS */
  .box img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 80px;
    height: auto;
  }
  
  .box-text {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
  
  .box-button {
    display: flex;
    background-color: #333;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    width: 15%;
    height: 30%;
    padding: 10px 40%;
    border-radius: 30px;
    align-items: center;
  }
  
  .box-button:hover {
    background-color: #555;
  }
  
  
  .parcerias{
    float: left;
    width: 700px;
    height: 700px;
    background-color: #D1C8C1;
    display: flex;
    margin-left: 30%;
  }
  .parcerias img {
    max-width: 80%;
    max-height: 80%;
  }
  
    /* Estilos para o slideshow */
  .slideshow-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .caixaSlides {
    display: none;
    width: 100%;
    height: 100%;
    margin-left: 10%;
    margin-top: 10%;
      
  }
  
  .slideshow-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
      
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 18px;
    /* cursor: pointer; */
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    /* border: none; */
    z-index: 2;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }










  /* #slideLembrete{
  float: left;
  width: 400px;
  height: 600px;
  background-color: #D1C8C1;
  display: flex;
  margin-left: 30%;
}
#slideTexto{
  border-radius: 30px;
  font-size: x-large;
  width: 50%;
  margin-top: 30%;
  margin-left: 15%;
  letter-spacing: 2px; /* Espaço entre letras *
  line-height: 2; /* Espaço entre linhas *
  text-align: center;
}  */
/* #tentativa{
  border-radius: 30px;
  font-size: x-large;
  width: 70%;
  align-items: center;
  letter-spacing: 2px; /* Espaço entre letras *
  line-height: 2; /* Espaço entre linhas *
  text-align: center;
} */
/* #lembretes{
  margin: 1%;
  font-size: x-large;
  width: 20%; 
  margin-left: 10%; 
  letter-spacing: 2px; /* Espaço entre letras *
  line-height: 2; /* Espaço entre linhas  *
  text-align: justify;
  position: relative;
} */

/* VIAGENS */
/* .box img {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
  width: 80px;
  height: auto;
}

.box-text {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.box-button {
  display: flex;
  background-color: #333;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  width: 15%;
  height: 30%;
  padding: 10px 40%;
  border-radius: 30px;
  align-items: center;
}

.box-button:hover {
  background-color: #555;
} */

/* .container {
  width: 95%;
  margin-top: 3%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
} */

/* #imagem-bio {
  width:20%;
  height: 100%;
  margin-left: 15rem;
} */

/*    <div class="moldura" id="dia1">
        <div class="conteudo">
            <p id="textodia">&#9679; texto 1ghjkkkkk  kkkkkfffff ffffffffff fffcgkkkkk kkk</p>
            <p id="texto2">Texto 2</p>
            <p class="rating">
                <input type="radio" id="star1_1" name="rating_1" value="1">
                <label for="star1_1">★</label>
                <input type="radio" id="star2_1" name="rating_1" value="2">
                <label for="star2_1">★</label>
                <input type="radio" id="star3_1" name="rating_1" value="3">
                <label for="star3_1">★</label>
                <input type="radio" id="star4_1" name="rating_1" value="4">
                <label for="star4_1">★</label>
                <input type="radio" id="star5_1" name="rating_1" value="5">
                <label for="star5_1">★</label>
            </p>
        </div>
    </div> 
 */

 
/* ESTRELAS *
.rating {
  margin-top: auto;
}
.rating input {
  display: none;
}
.rating label {
  font-size: 40px;
  color: #000000;
  cursor: pointer;
}
.rating input:checked ~ label {
  color: #FFD700;
}
.rating {
  position: absolute;
  bottom: 0;
  width: 95%;
  text-align: center;
  direction: rtl; /* Inverte a direção das estrelas *
}
.estrelacentro{
  width: 80%;
  margin-bottom: 40%;
  margin-right: 50%;
}

/*FIM DAS ESTRELAS*/

/* #dia{
  width: 450px;
  height: 300px;
  left: 5%;
  margin-left: 5%;
} */
