body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }

  h1 {
    margin: 0;
    font-size: 24px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }

  .box {
    width: 30%;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .box-content {
    padding: 20px;
  }

  .box img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 80px;
    height: auto;
  }

  .box-text {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .box-button {
    display: block;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    margin-top: 10px;
  }

  .box-button:hover {
    background-color: #555;
  }