.cabecalho {
    background-color: #333;
    color: #e70000;
    padding: 10px;
    text-align: center;
}

.cabecalho-conteudo {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

.cabecalho-imagem {
    margin-left: 20px; /* Espaçamento entre o texto e a imagem */
}

.inicio {
    display: flex;
}

.corretor {
    margin-top: 0%;
}

/* Estilos para o texto */
#texto {
    float: left;
    width: 60%;
    font-size: xx-large;
}

/* Estilos para a imagem */
#imagem {
    float: right;
    width: 40%;
}

/* Estilos para o botão */
#botao {
    text-align: center;
    margin-top: 20px;
}
